/venv
/dataset
/embeddings
/snapshots
/templates1
/__pycache__
/tempfiles
/weights
/gcode
/static/VedaFullLogo.png
/static/VedaIconLogo.png
/yolov11n-face.pt
# /arcface_r100.onnx
/models/arcface_r100.onnx
/models/w600k_r50.onnx
/dataset1
/embeddings1
/FaceRecog_208042026_app1Working.zip